@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/static/Inter-Regular.ttf') format('truetype'); /* Adjust the path and format based on your font file */
  /* Add more src declarations for different font file formats if necessary */
  /* Include additional font-face properties as needed (e.g., font-weight, font-style) */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.slick-dots{
  bottom:14px !important;
}
body {
  background-color: #fcfcfc95;
  font-family: 'Inter';
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
